body {
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
}

.bold {
  font-weight: 500;
}

.center-components {
  width: 80vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coreMargin {
  margin-bottom: 5%;
}